4.8/examples/den2ne-ipv6/root/*.native
4.8/examples/den2ne-ipv6/common-node/*.native
4.8/examples/den2ne-ipv6/*/build
4.8/examples/den2ne-contiki/root/*.native
4.8/examples/den2ne-contiki/common-node/*.native
4.8/examples/den2ne-contiki/*/build
4.8/CODE_OF_CONDUCT.md
4.8/CONTRIBUTING.md
4.8/LICENSE.md
4.8/README.md
4.8/SECURITY.md
4.8/arch/cpu/arm/
4.8/arch/cpu/cc2538/
4.8/arch/cpu/cc26x0-cc13x0/
4.8/arch/cpu/gecko/
4.8/arch/cpu/msp430/
4.8/arch/cpu/nrf/
4.8/arch/cpu/nrf52840/
4.8/arch/cpu/simplelink-cc13xx-cc26xx/
4.8/arch/dev/
4.8/doc/
4.8/lgtm.yml
4.8/tests/
4.8/tools/
4.8/examples/Root*
4.8/examples/[test-common,test-root,udp_trial]
*cooja*
*.vscode
4.8/examples/platform-specific/nrf/start-network-core/build
4.8/examples/den2ne-nrf5340-dk/root/build/
4.8/examples/den2ne-nrf5340-dk/common-node/build/
4.8/examples/hello-world-nrf5340dk/build/
4.8-aux
*.o
4.8/examples/den2ne-ipv6-790/root/build/
4.8/examples/den2ne-ipv6-790/common-node/build/
4.8/examples/den2ne-ipv6-242/root/build/
4.8/examples/den2ne-ipv6-242/common-node/build/
4.8/examples/rpl-udp/build/nrf/
4.8/examples/den2ne-nrf/root-5340/build/
4.8/examples/den2ne-nrf/root-52840/build/
4.8/examples/den2ne-nrf/common-node-5340/build/
4.8/examples/den2ne-nrf/common-node-52840/build/
4.8/examples/den2ne-ipv6-mcast/common-node/build/
4.8/examples/den2ne-ipv6-mcast/root/build/
4.8/examples/multicast/build/
4.8/examples/den2ne-def/common-node/build/
4.8/examples/den2ne-def/root/build/
4.8/examples/den2ne-def.bak
