4.8/*/[root,common-node]/build
4.8/*/[root,common-node]/*.native
4.8/CODE_OF_CONDUCT.md
4.8/CONTRIBUTING.md
4.8/LICENSE.md
4.8/README.md
4.8/SECURITY.md
4.8/arch/cpu/arm/
4.8/arch/cpu/cc2538/
4.8/arch/cpu/cc26x0-cc13x0/
4.8/arch/cpu/gecko/
4.8/arch/cpu/msp430/
4.8/arch/cpu/nrf/
4.8/arch/cpu/nrf52840/
4.8/arch/cpu/simplelink-cc13xx-cc26xx/
4.8/arch/dev/
4.8/doc/
4.8/lgtm.yml
4.8/tests/
4.8/tools/
4.8/examples/Root*
4.8/examples/[test-common,test-root,udp_trial]
*cooja*
